{% extends 'gamebase.html' %}

{% block css %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'fur.css' %}">
{% endblock %}

< class="container">
{% block mention %}
    <p>터치하여 털을 뽑아주세요</p>
{% endblock %}

{% block chicken_image %}
    <img id="fur-image" src="{% static 'full_fur_image.jpg' %}" alt="Chicken Fur">
{% endblock %}



{% block extra_scripts %}
    <div class="test"></div>
    <script src="{% static 'fur.js' %}"></script>
{% endblock %}



{% block progress_bar %}
    <!-- 완성도 게이지를 출력하는 위치에 대한 내용을 추가합니다. -->
    
<img class= "gazeimg" src="{% static 'gazeimage.png' %}">
{% endblock %}
</div>