<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>치킨 창고</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'rank.css' %}" />
</head>
<body>
    <div class="rank-top"> 
        <h2>내가 구운 치킨 개수 : <span id="chicken-count">{{ user_chicken }}</span></h2>
        <h3>나는 상위 % 치킨 요리사!!</h3>
    </div>
    <div class="rank-body">
        <button id="department-button">단과대별 랭킹 바로 보기!</button>
        <button id="personal-button">전체 개인랭킹 바로 보기!</button>
        <div class="rank-body-department" style="display: none;">    
            <table>
                <tr>
                    <th>Department</th>
                    <th>Chicken Count</th>
                </tr>
                {% if department_chickens %}
                    {% for department_chicken in department_chickens %}
                        <tr>
                            <td>{{ department_chicken.department__department_name }}</td>
                            <td>{{ department_chicken.total_chicken }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="2">No data available</td>
                    </tr>
                {% endif %}
            </table>
        </div>
        <div class="rank-body-personal" style="display: none;">
            <ul>
                <li>개인별 순위 1등</li>
                <li>개인별 순위 2등</li>
                <li>개인별 순위 3등</li>
                <li>개인별 순위 4등</li>    
            </ul>
        </div>
    </div>
    <div class="rank-bottom">
        <a href="{% url 'main' %}">홈으로</a>
        <a href="/fur">치킨 더 굽기</a>
    </div>
</body>
</html>

<script>
    var departmentButton = document.getElementById("department-button");
    var departmentRank = document.querySelector(".rank-body-department");
    var personalButton = document.getElementById("personal-button");
    var personalRank = document.querySelector(".rank-body-personal");

    departmentButton.addEventListener("click", function() {
        departmentRank.style.display = "block";
        personalRank.style.display = "none";
    });

    personalButton.addEventListener("click", function() {
        departmentRank.style.display = "none";
        personalRank.style.display = "block";
    });
</script>